{% extends 'main/base.html' %}


{% block content_name %}
Удаление карточки (Физическое лицо)
{% endblock %}


{%  block content1  %}
    <div class="features">
        <h2>Заявитель</h2>
        <hr>
        <h1>{{ article.ul_name }}</h1>
        <form method="post">
            <hr>
            {% csrf_token %}
            <button class="btn btn-danger btn-sm" type="submit">Удалить карточку</button>
            <a href="{% url 'spisok_zayavit_UL' %}" class="btn btn-info btn-sm">Вернуться</a>
        </form>
    </div>
{%  endblock  %}