{% extends 'main/base.html' %}

{% block title %}
CRM "ГК-НК"
{% endblock %}

{% block page_name %}
    КАРТОЧКИ ОБЪЕКТОВ
{% endblock %}

{% block content1 %}


<div>
<h3 class="primer1"> <center>Данные хозяина объекта</center> </h3>
<form method="post">
    {% csrf_token %}

    <fieldset class="mb-3">
            <legend>Тип заявителя</legend>
        <div class="row g-3">
            <div class="col-md-4">
                <div class="form-check">
                  <input type="radio" name="radios" class="form-check-input" id="exampleRadio1">
                  <label class="form-check-label" for="exampleRadio1">Физическое лицо</label>
                </div>

                <div class="form-check">
                  <input type="radio" name="radios" class="form-check-input" id="exampleRadio2">
                  <label class="form-check-label" for="exampleRadio2">Юридическое лицо</label>
                </div>

                <div class="form-check">
                  <input type="radio" name="radios" class="form-check-input" id="exampleRadio3">
                  <label class="form-check-label" for="exampleRadio3">Гос.орган</label>
                </div>
             </div>


            <div class="col-md-4">
                <div class="md-3">
                <label for="validationServer01" class="form-label">Заявитель </label>
                    {{ form.task_connection}}
<!--                <select class="form-select form-select-sm" aria-label=".form-select-sm example">-->
<!--                    <option selected="">Выбирите заявителя из последних</option>-->
<!--                    <option value="1">последний заявитель из Б/Д</option>-->
<!--                    <option value="2">пред последний заявитель из Б/Д</option>-->
<!--                    <option value="3">пред пред последний заявитель из Б/Д</option>-->
<!--                </select>-->
                </div>

            </div>
            <hr class="hr">
         </div>
    </fieldset>



<h3 class="primer1"> <center>Объект</center> </h3>

                <div class="row g-3">
                    <div class="col-md-3">
                        <label for="validationServer03" class="form-label">Вид работ</label>
                        {{ form.task_vid}}

<!--                        <select class="form-select form-select-sm" aria-label=".form-select-sm example">-->
<!--                            <option selected="">Выбирите вид объекта</option>-->
<!--                            <option value="1">1 - Земельный участок (:ЗУ)</option>-->
<!--                            <option value="2">2 - Объект капитального строительства (ОКС)</option>-->
<!--                            <option value="3">3 - Изыскания (Топосъемка)</option>-->
<!--                            <option value="4">4 - Вынос точек (Разбивка)</option>-->
<!--                            <option value="5">5 - Заключение кадастрового инженера (ЗКИ)</option>-->
<!--                            <option value="6">6 - Акт обследование (Наличие/отсутствие строений)</option>-->
<!--                            <option value="7">7 - Экспертное заключение (Экспертиза)</option>-->
<!--                            <option value="8">8 - Ортофотоплан (Ортофото)</option>-->
<!--                        </select>-->
                    </div>

                    <div class="col-md-3">
                        <label for="validationServer04" class="form-label">Кадастровый номер или квартал</label>
                        {{ form.task_kadnom}}
                    </div>

                    <div class="col-md">
                        <label for="validationServer05" class="form-label">Адрес/местоположение объекта</label>
                        {{ form.task_address}}
                    </div>

                    </div>
                    <hr class="hr">

<h3 class="primer1"> <center>Договор</center> </h3>

                    <div class="row g-3">
                    <div class="col-md-3">
                        <label for="validationServer03" class="form-label">Номер договора</label>
                        {{ form.task_nomdogovor}}
                    </div>

                    <div class="col-md-1">
                        <label for="validationServer03" class="form-label">Дата договора</label>
                        {{ form.task_datedogovor}}
                    </div>

                    <div class="col-md-4">
                        <label for="validationServer03" class="form-label">Приложить скан договора</label>
                        {{ form.task_skandogovor}}
                    </div>
                    </div>
                <hr class="hr">


<h3 class="primer1"> <center>Контактное лицо</center> </h3>
                    <div class="row g-3">
                    <div class="col-md-3">
                        <label for="validationServer03" class="form-label">Фамилия Имя Отчество</label>
                        {{ form.task_kontakt}}
                    </div>

                    <div class="col-md-2">
                        <label for="validationServer03" class="form-label">Контактный телефон</label>
                        {{ form.task_kontakt_phone}}
                    </div>

                    <div class="col-md-2">
                        <label for="validationServer03" class="form-label">EMail</label>
                        {{ form.task_kontakt_email}}
                    </div>

                    <div class="col-md-4">
                        <label for="validationServer03" class="form-label">Пояснения</label>
                            <div class="input-group">
                                {{ form.task_kontakt_info}}
                            <!--<textarea class="form-control" aria-label="With textarea"></textarea>-->
                            </div>
                    </div>
                <hr class="hr">



<h3 class="primer1"> <center>Приложенные документы</center> </h3>
    <div class="row">
        <div class="col">
        <h3 style="font-size: 16px" class="primer2"><center>Выписки ЕГРН</center></h3>

<div class="row borddiv1">
    <div class="col g-6 borddiv3">
        <label for="validationServer03" class="form-label">Выписки ЕГРН (КПТ) -1-</label>
        {{ form.task_skan_link1 }}
    </div>
    <div class="col">
        <label for="validationServer03" class="form-label">Номер документа</label>
        {{ form.task_nom_link1 }}
    </div>
    <div class="col">
        <label for="validationServer03" class="form-label">Дата документа</label>
        {{ form.task_data_link1 }}
    </div>
</div>
            <br>
<div class="row borddiv1">
    <div class="col g-6 borddiv3">
        <label for="validationServer03" class="form-label">Выписки ЕГРН (КПТ) -2-</label>
        {{ form.task_skan_link2 }}
    </div>
    <div class="col">
        <label for="validationServer03" class="form-label">Номер документа</label>
        {{ form.task_nom_link2 }}
    </div>
    <div class="col">
        <label for="validationServer03" class="form-label">Дата документа</label>
        {{ form.task_data_link2 }}
    </div>
</div>


            <br>
<div class="row borddiv1">
    <div class="col g-6 borddiv3">
        <label for="validationServer03" class="form-label">Выписки ЕГРН (КПТ) -3-</label>
        {{ form.task_skan_link3 }}
    </div>
    <div class="col">
        <label for="validationServer03" class="form-label">Номер документа</label>
        {{ form.task_nom_link3 }}
    </div>
    <div class="col">
        <label for="validationServer03" class="form-label">Дата документа</label>
        {{ form.task_data_link3 }}
    </div>
</div>

            <br>
<div class="row borddiv1">
    <div class="col g-6 borddiv3">
        <label for="validationServer03" class="form-label">Выписки ЕГРН (КПТ) -4-</label>
        {{ form.task_skan_link4 }}
    </div>
    <div class="col">
        <label for="validationServer03" class="form-label">Номер документа</label>
        {{ form.task_nom_link4 }}
    </div>
    <div class="col">
        <label for="validationServer03" class="form-label">Дата документа</label>
        {{ form.task_data_link4 }}
    </div>
</div>



            <br>
<div class="row borddiv1">
    <div class="col g-6 borddiv3">
        <label for="validationServer03" class="form-label">Выписки ЕГРН (КПТ) -5-</label>
        {{ form.task_skan_link5 }}
    </div>
    <div class="col">
        <label for="validationServer03" class="form-label">Номер документа</label>
        {{ form.task_nom_link5 }}
    </div>
    <div class="col">
        <label for="validationServer03" class="form-label">Дата документа</label>
        {{ form.task_data_link5 }}
    </div>
</div>


            <br>
<div class="row borddiv1">
    <div class="col g-6 borddiv3">
        <label for="validationServer03" class="form-label">Выписки ЕГРН (КПТ) -6-</label>
        {{ form.task_skan_link6 }}
    </div>
    <div class="col">
        <label for="validationServer03" class="form-label">Номер документа</label>
        {{ form.task_nom_link6 }}
    </div>
    <div class="col">
        <label for="validationServer03" class="form-label">Дата документа</label>
        {{ form.task_data_link6 }}
    </div>
</div>

     </div>
        <br><br><br><br>


        <div class="col">
        <h3 style="font-size: 16px" class="primer2"><center>Документы</center></h3>

<div class="row borddiv2">
    <div class="col g-6 borddiv4">
        <label for="validationServer03" class="form-label">Свидетельство</label>
        {{ form.task_skan_link11 }}
    </div>
    <div class="col">
        <label for="validationServer03" class="form-label">Номер документа</label>
        {{ form.task_nom_link11 }}
    </div>
    <div class="col">
        <label for="validationServer03" class="form-label">Дата документа</label>
       {{ form.task_data_link11 }}
    </div>
</div>
            <br>
<div class="row borddiv2">
    <div class="col g-6 borddiv4">
        <label for="validationServer03" class="form-label">Схема на КПТ</label>
        {{ form.task_skan_link12 }}
    </div>
    <div class="col">
        <label for="validationServer03" class="form-label">Номер документа</label>
        {{ form.task_nom_link12 }}
    </div>
    <div class="col">
        <label for="validationServer03" class="form-label">Дата документа</label>
        {{ form.task_data_link12 }}
    </div>
</div>


            <br>
<div class="row borddiv2">
    <div class="col g-6 borddiv4">
        <label for="validationServer03" class="form-label">Распоряжение/постановление</label>
        {{ form.task_skan_link13 }}
    </div>
    <div class="col">
        <label for="validationServer03" class="form-label">Номер документа</label>
        {{ form.task_nom_link13 }}
    </div>
    <div class="col">
        <label for="validationServer03" class="form-label">Дата документа</label>
        {{ form.task_data_link13 }}
    </div>
</div>

            <br>
<div class="row borddiv2">
    <div class="col g-6 borddiv4">
        <label for="validationServer03" class="form-label">Землеустраительное дело</label>
        {{ form.task_skan_link14 }}
    </div>
    <div class="col">
        <label for="validationServer03" class="form-label">Номер документа</label>
        {{ form.task_nom_link14 }}
    </div>
    <div class="col">
        <label for="validationServer03" class="form-label">Дата документа</label>
        {{ form.task_data_link14 }}
    </div>
</div>



            <br>
<div class="row borddiv2">
    <div class="col g-6 borddiv4">
        <label for="validationServer03" class="form-label">Ортофото</label>
        {{ form.task_skan_link15 }}
    </div>
    <div class="col">
        <label for="validationServer03" class="form-label">Номер документа</label>
        {{ form.task_nom_link15 }}
    </div>
    <div class="col">
        <label for="validationServer03" class="form-label">Дата документа</label>
        {{ form.task_data_link15 }}
    </div>
</div>


            <br>
<div class="row borddiv2">
    <div class="col g-6 borddiv4">
        <label for="validationServer03" class="form-label">Паспорт</label>
        {{ form.task_skan_link16 }}
    </div>
    <div class="col">
        <label for="validationServer03" class="form-label">Номер документа</label>
        {{ form.task_nom_link16 }}
    </div>
    <div class="col">
        <label for="validationServer03" class="form-label">Дата документа</label>
        {{ form.task_data_link16 }}
    </div>
</div>

     </div>
        <br><br><br><br>





        </div>
    </div>


</form>


{% endblock %}