{% extends 'main/base.html' %}

{% block title %}
CRM "ГК-НК"
{% endblock %}

{% block operator_name %}
Мингазов Рамиль
{% endblock %}

{% block operator_job %}
Кадастровый инженер
{% endblock %}


{% block page_name %}
    ОПЕРАТОРЫ
{% endblock %}

{% block content1 %}
<h4>{{ title_operator }}</h4>
{% for el in cards %}
<div class="boxShadow8 line_block">
    <hr>
    <h4>{{ el.last_name }} {{ el.name_name }} {{ el.first_name}}</h4>
    паспорт<br>
    <hr>
    <pre>выдан               : <b>{{ el.place_of_issue }}</b></pre>
    <pre>подразделение       : <b>{{ el.division_code }}</b></pre>
    <pre>дата выдачи         : <b>{{ el.date_of_issue }}</b></pre>
    <pre>дата рождения       : <b>{{ el.date_of_birth }}</b></pre>
    <pre>место рождения      : <b>{{ el.place_of_birth }}</b></pre>
    <pre>адрес регистрации   : <b>{{ el.registration_address }}</b></pre>
    <pre>адрес проживания    : <b>{{ el.residential_address }}</b></pre>
    <pre>серия номер паспорта: <b>{{ el.sn_passport }}</b></pre>
    СНИЛС<br>
    <hr>
    <pre>номер снилса        : <b>{{ el.snils }}</b></pre>
    <hr>
    <a href="{% url 'input_FL' %}" class="btn btn-success btn-sm">Завести новую карточку</a>
    <a href="{% url 'card-delete_FL' el.id %}" class="btn btn-danger btn-sm">Удалить карточку</a>
    <a href="{% url 'card-update_FL' el.id %}" class="btn btn-info btn-sm">Редактировать карточку</a>

</div>
{% endfor %}
{% endblock %}