{% extends 'main/base.html' %}

{% block title %}
CRM "ГК-НК"
{% endblock %}

{% block operator_name %}
Мингазов Рамиль
{% endblock %}

{% block operator_job %}
Кадастровый инженер
{% endblock %}


{% block page_name %}
    СТАТИСТИКА
{% endblock %}

{% block content1 %}
    <h3 class="primer1"><center>Списки<center></h3><hr>

<div class="container">
  <div class="row justify-content-center">
    <div class="col col-lg-2">

    </div>
    <div class="col-md-auto">
        <a href="{% url 'spisok_zayavit_FL' %}" class="btn btn-success">Список заявителей ФЛ</a>
        <a href="{% url 'zayavlenie_UL' %}" class="btn btn-success">Список заявителей ЮЛ</a>
        <a href="{% url 'zayavlenie_GOS' %}" class="btn btn-success">Список заявителей ГОС</a>
    </div>
    <div class="col col-lg-2">

    </div>
  </div>
</div>

{% endblock %}